<div class="col-md-6 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h1>WELCOME TO BOSS TRIANGLES</h1>
      <% if user_signed_in? && current_user.characters %><br>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete)%> <br>
        <%= link_to('Create Character', new_character_path) %> <br>
        <%= link_to('Start Game', game_path)%> <br>
        <%=link_to "Account", edit_user_registration_path %><br>
      <% else %>
        <%= link_to('Login', new_user_session_path)%><br>
        <%= link_to("Sign Up", new_user_registration_path)  %>  <br>
      <% end %>
      </div>
    </div>
  </div>
</div>