<span id="register"></span>

<% if flash[:notice] %>
  <% flash[:notice].split("\n").each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br />

  <%= f.label :username %>
  <%= f.text_field :username  %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />

  <%= f.submit %>
<% end %>


<%= form_tag('/characters/new', {method: "GET"}) do -%>
  <%= submit_tag("Create New Character") %>
<% end -%>

<h2>How to Play:</h2>
<p>Use the directional pad to move your triangle.</p>
<p>Have a ball.</p>

<%= form_tag('/game', {method: "GET"}) do -%>
  <%= submit_tag("Start Game") %>
<% end -%>
