<!-- <div style="position:absolute;width:300px;height:200px;left:0;top:20px;background-color:red;z-index:1"> This is the menu
  </div> -->
<canvas style="z-index:-1" id="game_screen" width="800" height="600"></canvas>

<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
<!-- <script src="../../assets/javascripts/d3.js"></script> -->
<script>
// LOADING SCREEN
// TODO: ajax call to receive your_char information
// REMOVE LOADING SCREEN
  var scheme = "ws://";
  <% if ENV["ENCRYPTED_WEBSOCKET"] == "true" %>
    scheme = "wss://";
  <% end %>
  setUpWebsocket(scheme);
  $('document').ready(function(){
    setAutoLogout(); //logout when user exits browser or tab
    allowInput(); // key listeners to keyboard
    allowClick(); // click listener
    fieldMusic.volume = 0.8;
    fieldMusic.play();
    setInterval(fieldMusicLoop, 900);


    // Main logic
    setCharacterUpdate('<%= @character.name %>', <%= @character.pos_x %>, <%= @character.pos_y %>, <%= @character.attack %>, <%= @character.health %>, <%= @character.XP %>, <%= @character.defense %>, <%= @character.max_health %>); // passes player position and player identity data to the server
    setCanvasDrawingUpdate(); //redraws canvas 30 fps5
    setAutoSave();
  });
</script>
