
<div class="col-md-4 col-md-offset-1">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
      <div id="the_slider">
<h1>New Character<%=@character.attack %></h2>
<p><%= @character.attack %></p>
<%= form_for @character do |create| %>
  
  <%= create.label :name %>
  <%= create.text_field :name %>
  <%= create.label :location %>
  <%= create.text_field :location %><br>
  <h2>Select Attributes</h2>
  <%= create.label :attack %>
  <%= create.hidden_field :attack %>
  <%= create.range_field :attack, :min=>0, :max=>200, :value=>2,  :class=>"slide", :id=>"slider1"%>

    <%= create.label :health %>
  <%= create.hidden_field :health %>
   <%= create.range_field :health, :min=>0, :max=>200, :class=>"slide", :id=>"slider1"%>

    <%= create.label :defense %>
  <%= create.hidden_field :defense %>
   <%= create.range_field :defense, :min=>0, :max=>200, :class=>"slide", :id=>"slider1"%>

    <%= create.label :max_health %>
  <%= create.hidden_field :max_health %>
   <%= create.range_field :max_health, :min=>0, :max=>200, :class=>"slide", :id=>"slider1"%>
<%= create.submit %>
<% end %>

      </div>
    </div>
  </div>
</div>
</div>
<div class="text-center col-md-5 col-md-offset-4.4">
<%=image_tag("knight_south01.png", height: 400, width: 300)%>
</div>

