<%= video_tag "landscape.webm", id:"video-background", autoplay: true, loop: true %>
 <h1>SELECT CHARACTER</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center col-md-5 col-md-offset-4">
<%=image_tag("knight_south01.png", height: 400, width: 300)%>
<div class="col-md-5 ">
<%@character1.each do |character|%>
  <h7><%=character.name%><h7>
  <%= form_for character, method: :patch do |f| %>
    <%= f.hidden_field :id, :value => character.id %>
    <%= f.submit "Select Character" %>
  <% end %>
<% end %>
</div>
</div>
</div>
