<!DOCTYPE html>
<html>
  <head>
    <title>The MMO</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>  
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Passion+One' rel='stylesheet' type='text/css'>

  </head>
  	<nav class="hidenav">
		<div class ="container">
			<div class="navbar-brand">
			<%= link_to "Boss Triangles", root_path %>
			</div>
			<% if user_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li> 
					<%=link_to "Account", edit_user_registration_path %>
					</li>
					<li>
					<%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
					</li>
					<li>
					<%= link_to "About", about_path %>
					</li>
				</ul>
			<% else %>
				<ul class="nav navbar-nav navbar-right">
        			<li>
        			<%= link_to('Login', new_user_session_path)%>
        			</li>
        			<li>
  					<%= link_to "Sign Up", new_user_registration_path %>
  					</li>
  					<li>
					<%= link_to "About", about_path %>
					</li>
        		</ul>
        	<%end%>
		</div>
	</nav>
	<div class ="container">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert alert-info" %>
		<%end%>
	</div>
	<body>
    	<%= yield %>
  </body>
</html>


